@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to right,
        rgb(247, 153, 223) ,
        rgb(118, 68, 255) ,
        rgb(83, 83, 83)
      );
      display: flex;
      justify-content: center;
}
.bigbox{
    height: 600px;
    width: 1500px;
    margin: auto;
    display: flex;
    border-radius: 50px;
}
.box-1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsla(244, 38%, 16%,.8);
    align-items: center;
    padding: 100px 50px;
    border-radius: 50px 0px 0px 50px;
}
.titre{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
span{
    color : hsl(277, 64%, 61%);
}
.discription{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: 2-px;
    padding-top: 50px ;
    font-weight: 400;
    text-align: justify;
    text-align: left;

}
.stats{
    display: flex;
    justify-content: space-between;
    gap: 20%;
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.companies>p{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    padding-top: 5px;
}
.templates>p{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    padding-top: 5px;
}
.queries>p{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    padding-top: 5px;
}
.box-2{
    height: 100%;
    width: 50%;
    background-color: hsl(277, 64%, 61%);
    border-radius: 0px 50px 50px 0px;
}
image{
    background-color: hsl(277, 64%, 61%);

}